@charset "utf-8";

@font-face {
	font-family: "plantc";
	src: url("fonts/plantc.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}


:root {
	--color-font: #404040;
	--color-background: #fdfdfd;
	--view-minmax: calc((100vw - 500px) / (1920 - 500));
}

body {
	background: var(--color-background);
	font-family: "plantc", serif;
	color: var(--color-font);
	margin: 0;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}


h1, h2, p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	font-weight: normal;
}

a {
	color: var(--color-font);
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

section {
	padding: var(--padding);
	box-sizing: border-box;
}

section > p,
section .content p,
#more h2 {
	--size-p: calc(22px + (32 - 22) * var(--view-minmax));
	line-height: calc(var(--size-p) + 12px);
	font-size: var(--size-p);
	text-align: center;
	margin-bottom: 1em;
}


/*************
	Header
**************/

#intro {

	--size-hf1: calc(42px + (88 - 42) * var(--view-minmax));
	--size-hf2: calc(20px + (88 - 42) * var(--view-minmax));
	--size-h2: calc(20px + (28 - 20) * var(--view-minmax));
	min-height: 110vh;
}

@media (min-width: 600px) {
	#intro {
		display: flex;
		width: 100vw;
		justify-content: center;
		align-items: center;
	}
}

#intro header {
	display: grid;
	grid-template-columns: minmax(25%, 330px) 75px minmax(max-content, 1fr) 75px minmax(25%, 330px);
	grid-template-rows: 176px 55px minmax(max-content, 1fr) 35px 175px;
	grid-template-areas:
		"ls . . . ."
		"ls . h1 . rs"
		"ls . h1 . rs"
		"ls . h2 . rs"
		". . . . rs";
	transform: translateY(-40px);
}
#heading{
	grid-area:h1;
	line-height: calc(var(--size-h1)*1.382);
	align-self:center;
	transform:translateZ(0);
}
.headingFont1{
	font-size:var(--size-hf1);
}
.headingFont2{
	font-size:var(--size-hf2);
}
#intro h2 {
	grid-area: h2;
	line-height: calc(var(--size-h2) + 10px);
	font-size: var(--size-h2);
	opacity: .8;
}

.slice {
	width: 100%;
	height: 100%;
	background-image: url("Picture/me1.jpg");
	background-size: cover;
	box-shadow: 0 20px 90px 0 rgba(0, 0, 0, .08), 0 9px 30px 0 rgba(0, 0, 0, .1);
}
.slice.left {
	grid-area: ls;
	background-position: left;
}
.slice.right {
	grid-area: rs;
	background-position: right;
}

@media (max-width: 900px) {
	#intro header {
		grid-template-columns: 100px 110px 1fr 200px;
		grid-template-rows: 190px 16px 100px 180px 120px;
		grid-template-areas:
			". h1 h1 h1"
			"ls ls . ."
			"ls ls h2 h2"
			"ls ls . rs"
			". . . rs";

		transform: translateY(10vh);
	}
	#intro h2 {
		grid-column-end: rs;
	}
}

#content {
	--padding: 1.25em;
	padding-bottom: 220px;
	margin-bottom: -220px;
	overflow: hidden;
}
#content{
	--size-hf1: calc(20px + (88 - 42) * var(--view-minmax));
	min-height: 110vh;
}

@media (max-width: 36em) {
	#content p {
		text-align: left;
	}
	#content br {
		display: none;
	}
}

#programming {
	--padding: 0;
	display: flex;
	padding-top: 20vh;
	flex-direction: column;
	justify-content: center;
}
@media (min-width: 1920px) {
	#programming {
		align-items: center;
	}
}
@media (max-width: 600px) {
	#programming p {
		text-align: left;
		padding: 1.25em;
		word-break: break-all;
		-webkit-hyphens: auto;
		hyphens: auto;
	}
	#programming br {
		display: none;
	}
}
#nodes {
	margin: 20vh 0;
	overflow-x: auto;
	scrollbar-width: none;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;

}
#nodes::-webkit-scrollbar {
	width: 0;
	height: 0;
}

#nodes svg {
	margin-top: -160px;
	align-self:center;
}
#nodes text {
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 16px;
}
#nodes path {
	opacity: .3;
	stroke-dasharray: 1200;
}
@media (max-width: 1000px) {
	#nodes {
		margin:0;
		padding-top:60px;
		padding-bottom:100px;
		align-self: center;
		transform:rotate(90deg);
	}
	#nodes svg{
		margin-top:0;
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateX(0);
	}
	40% {
		transform: translateX(-30px);
	}
	60% {
		transform: translateX(-15px);
	}
}

.experience {
	--padding: 1.25em;
	min-height: 100vh;
}
.experience{
	--size-hf1: calc(20px + 30 * var(--view-minmax));
	--size-hf2: calc(10px + 20 * var(--view-minmax));
	--size-text: calc(5px + 20 * var(--view-minmax));
	--size-lipa: calc(100px + 50 * var(--view-minmax));
}
.text-experience{
	text-align:center;
	width:800x;
	height:var(--size-lipa)+100px;
	margin:auto;
}

.text-experience li{
	padding-left:var(--size-lipa);
	text-align:left;
	font-size:var(--size-hf2);
	min-height:6vh;
}
.title{
	font-size:var(--size-hf1);
	height:var(--size-lipa)+100px;
}
.location{
	font-size:var(--size-hf2);
}
.text-experience .text{
	padding-left:var(--size-lipa);
	padding-right:var(--size-lipa);
	text-align:left;
	font-size:var(--size-text);
}
@media (max-width: 600px) {
	.experience div {
		text-align:center;
		min-height: 10vh;
	}
	.text-experience li{
		padding-left:0;
	}

}

#education{
	padding-top: 30vh;
}
#education .text-experience{
	min-height:800px;
}
#edu-title{
	/*min-height:30vh;*/
	text-align:center;
}
@media (max-width: 600px){
	#education .text{
		padding-left:10px;
		padding-right:10px;
		font-size:10px;
		text-align:left
	}
	#education .text-experience{
	min-height:400px;
	}
	#education .location{
		text-align:left;
	}
	#education{
		padding-top: 10vh;
	}
	#edu-title{
		min-height:5vh;
	}

}

.icons{
	cursor:default;
	list-style:none;
	padding-left:0;
	text-align:center;
	min-height:5vh;
}
.icons li{
	height:20px;
	width:20px;
	display:inline-block;
	padding:0 1em 0 0;
}

#longer_li{
	position: relative;
	height:20px;
	width:60px;
	display:inline-block;
	top:7px;
	padding:0 1em 0 0;
}
@media (max-width: 600px) {
	#more p{
		font-size:15px;
	}
}

footer {
	padding-bottom: 2em;
}
footer p {
	text-align: center;
}
footer p.weak {
	font-size: 14px;
	opacity: .6;
}
footer br{
	display: none;
}
@media (max-width: 600px) {
	footer br{
		display: inline;
	}
}